<?xml version="1.0"?>
<config>
	<modules>
		<Webcreta_UserandMobile>
			<version>1.0.1</version>
		</Webcreta_UserandMobile>
	</modules>
	<frontend>
		<routers>
			<userandmobile>
				<use>standard</use>
				<args>
					<module>Webcreta_UserandMobile</module>
					<frontName>userandmobile</frontName>
				</args>
			</userandmobile>
		</routers>
		<layout>
			<updates>
				<userandmobile>
					<file>userandmobile.xml</file>
				</userandmobile>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<checkout>
				<rewrite>
					<type_onepage>Webcreta_UserandMobile_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
		</models>
		<rewrite>        
            <webcreta_userandmobile_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from>
                <to>/userandmobile/customer_account/</to>
			</webcreta_userandmobile_customer_accountcontroller>
			<webcreta_userandmobile_customer_onepagecontroller>
                <from><![CDATA[#^/checkout/onepage/#]]></from>
                <to>/userandmobile/checkout_onepage/</to>
			</webcreta_userandmobile_customer_onepagecontroller>
		</rewrite>
		<helpers>
			<userandmobile>
				<class>Webcreta_UserandMobile_Helper</class>
			</userandmobile>
		</helpers>
		<blocks>
			<userandmobile>
				<class>Webcreta_UserandMobile_Block</class>
			</userandmobile>
		</blocks>
		<models>
			<userandmobile>
				<class>Webcreta_UserandMobile_Model</class>
				<resourceModel>userandmobile_mysql4</resourceModel>
			</userandmobile>
		</models>
		<resources>
			<userandmobile_setup>
				<setup>
					<module>Webcreta_UserandMobile</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</userandmobile_setup>
			<userandmobile_write>
				<connection>
					<use>core_write</use>
				</connection>
			</userandmobile_write>
			<userandmobile_read>
				<connection>
					<use>core_read</use>
				</connection>
			</userandmobile_read> 
		</resources>
	</global>
	<admin>
		<routers>
			<userandmobile>
				<use>admin</use>
				<args>
					<module>Webcreta_UserandMobile</module>
					<frontName>admin_userandmobile</frontName>
				</args>
			</userandmobile>
			<adminhtml>
				<args>
					<modules>
						<Webcreta_UserandMobile before="Mage_Adminhtml">Webcreta_UserandMobile_Adminhtml</Webcreta_UserandMobile>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<userandmobile translate="title" module="userandmobile">
							<title>UserandMobile</title>
							<sort_order>1000</sort_order>
							<children>
								<userandmobilebackend translate="title">
									<title>Backend Page Title</title>
								</userandmobilebackend>
							</children>
						</userandmobile>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>